.App {
  text-align: center;
}

.container {

  display: flex;
 
  background-color: #980f3b;

  flex-direction: column;

  font-size: calc(40px + 2vmin);
  color: #282c34;
}

.App-body {
  background: #ffecb3;

  border-radius: 0px;
  width: 100%;
  height: 699px;

  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100%;
  /* Espaço entre as divs */
  /* ou use justify-content: center; para centralizar ou outras propriedades conforme necessário */
}

.Sidebar {
  /* flex:0 1 auto; */
  flex-grow: 0;
  height: 100%;
}

.Calendar {
  /* flex:1 1 auto; */
  flex-grow: 1;
}